.button {
  width: 18%;
  padding: 0.42rem;
  border: 2px solid black;
  border-radius: 20px;
  color: white;
  font-size: 0.85rem;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.button--check {
  background: #f79814;
}

.button--game {
  background: #d4682c;
}

.button--solve {
  background: #cb4b29;
}

.button--restart {
  background: #c22d26;
}

.button--pause {
  background: black;
  margin: 0;
}