.button {
  width: 18%;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  color: white;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.button--check {
  background: #f79814;
}

.button--game {
  background: #d4682c;
}

.button--solve {
  background: #cb4b29;
}

.button--restart {
  background: #c22d26;
}