.board__data {
  flex: 1;
  position: relative;
  padding: 0;
  background: white;
  border: 1px solid gray;
}

.board__data--border {
  border-right: 2px solid black;
}

.board__input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2.2rem;
  color: rgb(0, 0, 236);
  text-align: center;
  padding: 0;

  &:focus {
    outline-color: blue;
  }
}

input[readonly] {
  background: white;
  color: rgb(34, 34, 34);
  z-index: 1;
}

.board__input::-webkit-inner-spin-button,
.board__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 420px) {
  .board__input {
    font-size: 1.8rem;
  }
}