* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #c02425;
  background: -webkit-linear-gradient(to right,
    #f0cb35,
    #c02425);
  background: linear-gradient(to right,
    #f0cb35,
    #c02425);

  color: black;
}

@media (max-width: 420px) {
  html {
    font-size: 12px;
  }
}